* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
}

body {
    background-color: #333;
    color: white;
}

#cat_img {
    max-width: 500px;
    height: 500px;
    width: 100%;
    object-fit: contain;
    margin-top: 20px;
}